{% extends 'base.twig' %}
    {% block body %}
        <h1 class="mt-5 mb-5">Сделайте ваш заказ!</h1>
        <form action="formRequest.php" method="post" id="form" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="InputFullName" class="form-label">ФИО*</label>
                <input type="text" class="form-control" id="InputFullName" name="FullName" placeholder="Фамилия Имя Отчество (не менее 2-х символов в каждом слове)" pattern="[А-Яа-яЁё]{2,} [А-Яа-яЁё]{2,} [А-Яа-яЁё]{2,}" required>
            </div>
            <div class="mb-3">
                <label for="InputPhone" class="form-label">Телефон*</label>
                <input type="phone" class="form-control" id="InputPhone" name="phone" placeholder="7-XXX-XXX-XXXX" pattern="7-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required>
            </div>
            <div class="mb-3">
                <label for="DietName" class="form-label">Название рациона питания*</label>
                <input type="text" class="form-control" id="DietName" name="dietName" placeholder="Название рациона питания" required>
            </div>
            <div class="row mb-3">
                <div class="col">
                  <label for="deliveryStartDate" class="form-label">С*</label>
                  <input type="date" class="form-control" aria-label="delivery_start_date" id="deliveryStartDate" name="deliveryStartDate" required>
                </div>
                <div class="col">
                  <label for="deliveryEndDate" class="form-label">По*</label>
                  <input type="date" class="form-control" placeholder="deliveryEndDate" id="deliveryEndDate" name="deliveryEndDate" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="deliverySchedule" class="form-label">Расписание доставки</label>
                <select class="form-select" id="deliverySchedule" name="deliverySchedule">
                    <option value="Ежедневная">Ежедневная</option>
                    <option value="Доставка через день на один день питания">Доставка через день на один день питания</option>
                    <option value="Доставка через день на 2 дня питания">Доставка через день на 2 дня питания</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="DietName" class="form-label">Дни недели питания</label>
                <div class="col">
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="monday" autocomplete="off" name="monday">
                        <label class="btn btn-outline-primary" for="monday">Понедельник</label>
                      
                        <input type="checkbox" class="btn-check" id="tuesday" autocomplete="off" name="tuesday">
                        <label class="btn btn-outline-primary" for="tuesday">Вторник</label>
                      
                        <input type="checkbox" class="btn-check" id="wednesday" autocomplete="off" name="wednesday">
                        <label class="btn btn-outline-primary" for="wednesday">Среда</label>

                        <input type="checkbox" class="btn-check" id="thursday" autocomplete="off" name="thursday">
                        <label class="btn btn-outline-primary" for="thursday">Четверг</label>
                      
                        <input type="checkbox" class="btn-check" id="friday" autocomplete="off" name="friday">
                        <label class="btn btn-outline-primary" for="friday">Пятница</label>
                      
                        <input type="checkbox" class="btn-check" id="saturday" autocomplete="off" name="saturday">
                        <label class="btn btn-outline-primary" for="saturday">Суббота</label>

                        <input type="checkbox" class="btn-check" id="sunday" autocomplete="off" name="sunday">
                        <label class="btn btn-outline-primary" for="sunday">Воскресенье</label>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Комментарий</label>
                <textarea class="form-control" id="comment" rows="3" name="comment" placeholder="Ваш комментарий"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
        {% include 'orders.twig' %}
    <script src="./controlMinDate.js"></script>
{% endblock %}
{# <script src="./sendOrder.js"></script> #}